    <div class="col-sm m-0 p-0">
      <div class="footer-heading">Disclaimer</div>
      {{ site.title }} is for informational and entertainment purposes only. I
      am not a financial or investment advisor. I am not an accountant, an
      insurance agent, nor an attorney. By using this site you agree to hold me
      harmless from any ramifications, financial or otherwise, that occur to you
      as a result of acting on information found on this site. Seek out a
      professional for financial advice.
    </div>